mixin body_detail()
    .content-wrap.content-wrap_inner
        h1 Блог
        .blog-detail
            .blog-detail__wrap.col-lg-7
                h4 Бесплатный мастер-класс 31 октября 2018 года "Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут"
                .blog-detail__foto
                    img(src="assets/images/image.png")
                p 31 октября 2018 года в Санкт-Петербургском Межрегиональном ресурсном центре мы проведём бесплатный мастер-класс «Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут».
                h5.red Для кого данное мероприятие?
                p Мастер-класс рассчитан на владельцев и директоров малого бизнеса, которые столкнулись:
                ul 
                    li с рутиной обработки заказов и обращений,
                    li с потерей менеджерами контактов и сделок,
                    li с проблемами по созданию площадок для реализации продукции или услуг,
                    li со сложностью обучения новых сотрудников работе в компании
                p Если Вы хотите эффективно развивать свой бизнес и грамотно налаживать бизнес-процессы, но не знаете с чего начать, этот семинар для Вас! 
                h5.red Участники узнают:
                ol 
                    li О стандартных возможностях системы "Битрикс24.CRM".
                    li Как настроить роботов в CRM и выполнить автоматизацию работы в "Битрикс24".
                    li Как подключить открытые линии и настроить CRM для работы с лидами.
                    li Как выполнить интеграцию "Битрикс24" и сторонних сервисов.
                    li Как самому создать красивый продающий лэндинг в "Битрикс24.Сайты".
                a.btn(href="#") Регистрация на мероприятие
                h5 Поделиться
                .sharing
                    .sharing__item.vk
                        a(href="#") 
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" fill="#1A1A1A" stroke="#FF1F29" stroke-width="2"/>
                            <path d="M20.86 19.388H22.988L19.572 15.048L22.694 11.912H20.594L16.968 15.272V9H15.218V19.388H16.968V17.414L18.27 16.182L20.86 19.388Z" fill="#FF1F29"/>
                            <path d="M12.538 11.912L10.144 17.456L7.82 11.912H6L9.206 19.388H11.012L14.218 11.912H12.538Z" fill="#FF1F29"/>
                            </svg>
                    .sharing__item.vk
                        a(href="#")
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" fill="#1A1A1A" stroke="#FF1F29" stroke-width="2"/>
                            <path d="M17.083 10.984C17.525 10.984 17.933 11.137 18.256 11.358L18.851 9.76C18.375 9.42 17.661 9.267 16.93 9.267C14.822 9.267 13.683 10.508 13.683 12.412V12.99H12.187V14.69H13.683V22H15.808V14.69H18.239V12.99H15.74V12.446C15.74 11.477 16.199 10.984 17.083 10.984Z" fill="#FF1F29"/>
                            </svg>
                    .sharing__item.vk
                        a(href="#")
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="14" fill="#1A1A1A" stroke="#FF1F29" stroke-width="2"/>
                            <path d="M23.786 13.6H21.839V11.675H20.662V13.6H18.715V14.7H20.662V16.625H21.839V14.7H23.786V13.6Z" fill="#FF1F29"/>
                            <path d="M14.888 9.456V10.592C14.184 9.744 13.128 9.36 11.928 9.36C9.48 9.36 7.608 10.992 7.608 13.472C7.608 15.952 9.48 17.616 11.928 17.616C13.08 17.616 14.088 17.248 14.792 16.48V16.928C14.792 18.656 13.96 19.52 12.072 19.52C10.888 19.52 9.672 19.12 8.92 18.496L8.024 20C9 20.8 10.584 21.216 12.184 21.216C15.176 21.216 16.792 19.808 16.792 16.704V9.456H14.888ZM12.232 15.92C10.712 15.92 9.624 14.928 9.624 13.472C9.624 12.032 10.712 11.056 12.232 11.056C13.736 11.056 14.824 12.032 14.824 13.472C14.824 14.928 13.736 15.92 12.232 15.92Z" fill="#FF1F29"/>
                            </svg>

