mixin body()
    .content-wrap.content-wrap_inner
        h1 Блог
        .blog-list
            .blog-list__item.col-lg-11
                .blog-list__wrap
                    .blog-list__date 10-10-2018
                    a.blog-list__head(href="#").row.col-lg-11 Бесплатный мастер-класс 31 октября 2018 года "Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут"
                    .blog-list__anouns 31 октября 2018 года в Санкт-Петербургском Межрегиональном ресурсном центре мы проведём бесплатный мастер-класс «Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут».
                    a.blog-list__more(href="#") Подробнее
            .blog-list__item.col-lg-11
                .blog-list__wrap
                    .blog-list__date 10-10-2018
                    a.blog-list__head(href="#").row.col-lg-11 Федеральный семинар: Новые технологии в малом бизнесе: от создания сайта до настройки CRM
                    .blog-list__anouns 25 октября 2018 года в Центре Развития и Поддержки Предпринимательства пройдет бесплатный Федеральный семинар: "Новые технологии в малом бизнесе: от создания сайта до настройки CRM"
                    a.blog-list__more(href="#") Подробнее
            .blog-list__item.col-lg-11
                .blog-list__wrap
                    .blog-list__date 10-10-2018
                    a.blog-list__head(href="#").row.col-lg-11 Бесплатный мастер-класс 31 октября 2018 года "Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут"
                    .blog-list__anouns 31 октября 2018 года в Санкт-Петербургском Межрегиональном ресурсном центре мы проведём бесплатный мастер-класс «Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут».
                    a.blog-list__more(href="#") Подробнее

