include mixins/head_inner.pug
include mixins/scripts.pug
include mixins/404.pug


doctype
html(lang="ru")
    +head_inner()
    body
        .layout
            .layout-inner
                +404()
            +scripts()