include mixins/head_inner.pug
include mixins/main/header.pug
include mixins/about/body.pug 
include mixins/about/footer.pug 
include mixins/scripts.pug
include mixins/form.pug

doctype
html(lang="ru")
    +head_inner()
    body
        .layout
            .layout-inner
                +header()
                +body()
            +form()
            +footer()
            +scripts()