include mixins/head.pug
include mixins/main/header.pug
include mixins/main/body.pug 
include mixins/scripts.pug
include mixins/onepage-script.pug
include mixins/form.pug

doctype
html(lang="ru")
    +head()
    body
        .layout
            +header()
            +body()
            +form()
            +scripts()
            +onepage-script()