mixin body()
    #fullpage
        section.section
            .container-art.h100
                .section__body
                    .slogan Влюблены в интернет-маркетинг с 2003 года. И это взаимно
                    .section__bg Artrix
                    .hello.offset-lg-6.offset-sm-3
                        h1 Привет
                            span !
                        .hello__text Мы - digital агентство полного цикла
                .section__foot
                    .section__wrap.row.justify-content-between.flex-wrap.align-items-center
                        .section__tel.col-lg-4.col-md-4.col-sm-6
                            a.a(href="tel:88124256050") 8 812 425 60 50
                        .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                            a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                        .section__start.col-lg-4.col-md-4.col-sm-12
                            a.btn.start(href="#") Начать проект
                    .section__down.ac#down
                        <svg width="31" height="12" viewBox="0 0 31 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.0297 0.437215C29.6204 0.13954 28.9553 0.13954 28.546 0.437215L15.4995 9.94419L2.42742 0.437215C2.01811 0.13954 1.353 0.13954 0.943695 0.437215C0.534393 0.734889 0.534393 1.21861 0.943695 1.51628L14.7321 11.5442C14.9367 11.693 15.1925 11.7674 15.4739 11.7674C15.7297 11.7674 16.0111 11.693 16.2158 11.5442L30.0042 1.51628C30.439 1.21861 30.439 0.734889 30.0297 0.437215Z" fill="#FF1F29"/>
                        </svg>

   
        section.section.section__nofoot
            .content-wrap.h100
                .section__body
                    .head-block Мы делаем
                        span .
                    .text-block Эффективно. Индивидуально. Комплексно
                    .section__info.flex-wrap.justify-content-between.row
                        .section__text.col-lg-6.col-md-12.col-sm-12 
                            p Весь комплекс работ нацелен именно на повышение ваших продаж. Работа с учётом вашей специфики и всех нюансов. Отлов клиентов во всём интернете: поиске, контексте, соц.сетях, тематических порталах. От вашей рекламы не скроется никто! 
                        .section__foto.col-lg-6.col-md-12.col-sm-12.ar
                            .section__frame
                                img(src="assets/images/1.jpg")
            .container-art
                .section__foot
                    .section__wrap.row.justify-content-between.flex-wrap.align-items-center
                        .section__tel.col-lg-4.col-md-4.col-sm-6
                            a.a(href="tel:88124256050") 8 812 425 60 50
                        .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                            a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                        .section__start.col-lg-4.col-md-4.col-sm-12
                            a.btn.start(href="#") Начать проект
        section.section.section__nofoot
            .h100
                .section__body
                    .section__wrap.owl-carousel#solutions
                        .section__item
                            .content-wrap
                                .head-block Решения
                                    span .
                            .container-art
                                .rect-block
                            .content-wrap
                                .section__info.flex-wrap.justify-content-between.row
                                    .section__col.col-lg-6.col-md-12.col-sm-12
                                        p Составляем стратегический план действий по развитию
                                            br
                                            | вашей компании в интернете с указанием актуальных
                                            br
                                            | рекламных инструментов, бюджетов, сроков и ключевыми метриками оценки эффективности.
                                        p Мы не просто делаем сайты, а решаем бизнес-задачи клиента. Анализ, проектирование, оптимизация, UX, наполнение,
                                            br 
                                            | интеграция с 1С. Ваш сайт сразу готов для продвижения и эффективной рекламной кампании, а посетителям легко
                                            br
                                            | на нём покупать и заказывать услуги.
                        .section__item
                            .content-wrap
                                .head-block Маркетинговый 
                                    br
                                    |консалтинг
                                    span .
                            .container-art
                                .rect-block
                            .content-wrap
                                .section__info.flex-wrap.justify-content-between.row
                                    .section__col.col-lg-6.col-md-12.col-sm-12
                                        ul.section__list
                                            li Преланч аудит
                                            li SEO аудит
                                            li Usability аудит
                                            li Digital стратегия
                        .section__item
                            .content-wrap
                                .head-block Разработка сайтов
                                    span .
                            .container-art
                                .rect-block
                            .content-wrap
                                .section__info.flex-wrap.justify-content-between.row
                                    .section__col.col-lg-6.col-md-12.col-sm-12
                                       ul.section__list
                                            li Landing page
                                            li Корпоративный сайт
                                            li Интернет-магазин
                                            li Интеграция с 1С
                        .section__item
                            .content-wrap
                                .head-block Perfomance media
                                    span .
                            .container-art
                                .rect-block
                            .content-wrap
                                .section__info.flex-wrap.justify-content-between.row
                                    .section__col.col-lg-6.col-md-12.col-sm-12
                                       ul.section__list
                                            li Комплексное продвижение
                                            li Контекстная реклама
                                            li Таргетинг
                                            li SEO
                        .section__item
                            .content-wrap
                                .head-block Битрикс24
                                    span .
                            .container-art
                                .rect-block
                            .content-wrap
                                .section__info.flex-wrap.justify-content-between.row
                                    .section__col.col-lg-6.col-md-12.col-sm-12
                                       ul.section__list
                                            li Создание
                                            li Настройка
                    .content-wrap
                        .section__nav.col-lg-6.col-md-12
                            ul 
                                li
                                    a(href="javascript:" data-carousel = 1) Маркетинговый консалтинг
                                li 
                                    a(href="javascript:" data-carousel = 2) Разработка сайтов
                                li 
                                    a(href="javascript:" data-carousel = 3) Perfomance media
                                li 
                                    a(href="javascript:" data-carousel = 4) Битрикс24 (CRM)
            
            .container-art
                .section__foot
                    .section__wrap.row.justify-content-between.flex-wrap.align-items-center
                        .section__tel.col-lg-4.col-md-4.col-sm-6
                            a.a(href="tel:88124256050") 8 812 425 60 50
                        .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                            a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                        .section__start.col-lg-4.col-md-4.col-sm-12
                            a.btn.start(href="#") Начать проект
        section.section.section__nofoot
            .content-wrap.h100
                .section__body
                    .head-block Отрасли
                        ul 
                            li.active
                            li
                    .text-block E-commerce
                    .section__info.flex-wrap.justify-content-between.row
                        .section__text.col-lg-6.col-md-12.col-sm-12 
                            p Сделаем интернет-магазин конверсионным, подключим эквайринг, синхронизируем с 1С и CRM, внедрим и настроим умный SEO-фильтр, увеличим поисковый трафик, настроим и оптимизируем контекстную и таргетированную рекламу, подключим прайс-агрегаторы.
                        .section__foto.col-lg-6.col-md-12.col-sm-12.ar
                            .section__frame
                                img(src="assets/images/3.jpg")
                .section__foot
                    .section__wrap.row.justify-content-between.flex-wrap.align-items-center
                        .section__tel.col-lg-4.col-md-4.col-sm-6
                            a.a(href="tel:88124256050") 8 812 425 60 50
                        .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                            a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                        .section__start.col-lg-4.col-md-4.col-sm-12
                            a.btn.start(href="#") Начать проект
        section.section.section__nofoot
            .content-wrap.h100
                .section__body
                    .head-block Отрасли
                        ul 
                            li
                            li.active
                    .text-block Стоматологии
                    .section__info.flex-wrap.justify-content-between.row
                        .section__text.col-lg-6.col-md-12.col-sm-12 
                            p Сделаем сайт, увеличим поисковый трафик, настроим и оптимизируем контекстную и таргетированную рекламу в соц.сетях, разместим адреса клиник и карточки стоматологов на тематических порталахи справочниках, возьмём под контроль репутацию и отзывы.
                        .section__foto.col-lg-6.col-md-12.col-sm-12.ar
                            .section__frame
                                img(src="assets/images/2.jpg")
                .section__foot
                    .section__wrap.row.justify-content-between.flex-wrap.align-items-center
                        .section__tel.col-lg-4.col-md-4.col-sm-6
                            a.a(href="tel:88124256050") 8 812 425 60 50
                        .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                            a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                        .section__start.col-lg-4.col-md-4.col-sm-12
                            a.btn.start(href="#") Начать проект
        section.section
            .content-wrap.h100
                .section__body.contacts
                    a.head-block.head-block_red(href="mailto:hello@artrix.ru") hello@artrix.ru
                    a.tel(href="tel:88124256050") 8 812 425 60 50
                    p.contacts__text пр. Тореза, 98 корп. 1, 3 этаж
                        |
                        br
                        | (от лестницы налево, домофон Artrix)
                    .contacts__map
                        #map
                .section__foot
                    .section__start.col-lg-12.ac
                            a.btn.contacts__btn.start(href="#") Начать проект
                    .copyright.ac © Интернет-агентсво Artrix: продвижение сайтов 2003-2019
                                   

               
    