mixin header()
    .bg-col
        .container-art.d-flex
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
    header.header
        .container-art
            .header__wrap.row.justify-content-between
                a.logo(href="/").col-lg-5.col-md-5.col-sm-5 artrix
                .burger#burger.col-lg-2.col-md-2.col-sm-2
                    .burger__wrap
                .psevdo.col-lg-5.col-md-5.col-sm-5
                .socset.d-flex
                    .socset__item
                            a(href="#" data-hover="ВКонтакте").soc ВКонтакте
                    .socset__item
                        a(href="#" data-hover="Instagram").soc Instagram
                    .socset__item
                        a(href="#" data-hover="Facebook").soc Facebook
    .menu(hidden)#menu
        .menu__wrap.container-art
            .menu__close#menu_close
                <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.70718 1.29292L41.3052 40.8909M1.29297 40.8909L40.8909 1.29291" stroke="white" stroke-width="2"/>
                </svg>
            .menu__list.d-flex.align-items-center
                nav.menu__nav.d-flex.justify-content-between 
                    a.menu__item.soc(href="#" data-hover="О нас") О нас
                    a.menu__item.soc(href="#" data-hover="Решения") Решения
                    a.menu__item.soc(href="#" data-hover="Отрасли") Отрасли
                    a.menu__item.soc(href="#" data-hover="Контакты") Контакты
                .menu__btn(hidden)
                    a.menu__item.start(href="javascript:") Начать проект
                .menu__info(hidden)
                    a.menu__item(href="tel:88124256050") 8 812 425 60 50
                    a.menu__item(href="mailto:hello@artrix.ru") hello@artrix.ru
            .menu__foot.row
                .menu__soc.col-lg-6.col-md-6.col-sm-6
                    a.soc(href="#" data-hover="ВКонтакте") ВКонтакте
                    a.soc(href="#" data-hover="Facebook") Facebook
                    a.soc(href="#" data-hover="Instagram") Instagram
                .menu__exit.col-lg-6.col-md-6.col-sm-6.d-flex.justify-content-md-end
                    a.soc(href="#" data-hover="Вход для клиентов") Вход для клиентов
            .menu__bg.col-lg-12
                img(src='assets/images/ARTRIX.png')
                img.menu__imgmob(src='assets/images/ARTRIX_mob.png' hidden)
        .menu__bottom
            .menu__bottom-wrap.container-art.row.justify-content-between.flex-wrap.align-items-center
                .section__tel.col-lg-4.col-md-4.col-sm-6
                    a.a(href="tel:88124256050") 8 812 425 60 50
                .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                    a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                .section__start.col-lg-4.col-md-4.col-sm-12
                    a.btn.start(href="#") Начать проект
