mixin body()
    .content-wrap.content-wrap_inner
        h1 О нас
        .section-about
            h3 Digital-агентство
                br
                |
                |полного цикла Artrix
            .row.align-items-center.justify-content-between.flex-wrap.clearfix.section-about__wrap
                .section-about__text.col-lg-6.col-sm-12
                    p Интернет-агентство Artrix оказывает весь спектр услуг в сфере веб-разработки и интернет маркетинга. Наша главная задача – обеспечить рост и развитие бизнеса наших клиентов.
                    p За 15 лет мы научились выстраивать длительные и доверительные отношения с клиентами и сотрудниками. Команда профессионалов всегда готова увеличить прибыль вашего бизнеса. Работаем продуктивно и с душой со всеми отраслями. Однако, 
                        br
                        |в digital-маркетинге стоматологий и интернет-магазинов
                        |
                        br
                        | у нас особая специализация.
                .section-about__foto.col-lg-6.col-sm-12.ar
                    .red-decor.m-a-l
                        img(src="assets/images/about1.jpg")
            .direction
                .row.flex-wrap
                    .direction__foto.col-lg-7.col-sm-12
                        .red-decor
                            img(src="assets/images/about2.jpg")
                    .direction__items.col-lg-5.col-sm-12
                        ul 
                            li Маркетинговый консалтинг
                            li Разработка сайтов
                            li Perfomance media
                            li Битрикс24
            .stat
                .stat__wrap.row.flex-wrap.justify-content-between
                    .stat__item
                        .stat__shadow 15
                        .stat__color 15
                        .stat__text.ac лет на рынке
                    .stat__item
                        .stat__shadow 250
                        .stat__color 250
                        .stat__text.ac сайтов создано
                    .stat__item
                        .stat__shadow 350
                        .stat__color 350
                        .stat__text.ac сайтов продвинуто
            .blog
                .clearfix
                    h3 Блог
                .blog__item
                    .blog__wrap
                        .blog__date 10-10-2018
                        a.blog__head(href="#") Бесплатный мастер-класс 31 октября 2018 года "Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут"
                        .blog__anouns 31 октября 2018 года в Санкт-Петербургском Межрегиональном ресурсном центре мы проведём бесплатный мастер-класс «Настрой свою Битрикс24.CRM и автоматизируй бизнес за 60 минут».
                        a.blog__more(href="#") Подробнее
                    a.blog__all.btn-arrow(href="#")  
                        span Все статьи
            .vacancy
                h3 Вакансии
                .vacancy__wrap.row.flex-wrap
                    .vacancy__text.col-lg-6
                        p Мы всегда ищем талантливых специалистов! Мы готовы предложить как работу в офисе, так и удаленно.
                    .vacancy__foto.ar.col-lg-6
                        .vacancy__frame
                            img(src="assets/images/about3.jpg")
                            a.vacancy__all.btn-arrow(href="#") 
                                span Все вакансии


