mixin footer()
    footer.footer
        .container-art
            .section__foot
                .section__wrap.row.justify-content-between.flex-wrap.align-items-center
                    .section__tel.col-lg-4.col-md-4.col-sm-6
                        a.a(href="tel:88124256050") 8 812 425 60 50
                    .section__mail.col-lg-4.ac.col-md-4.col-sm-6
                        a.a(href="mailto:hello@artrix.ru") hello@artrix.ru
                    .section__start.col-lg-4.col-md-4.col-sm-12
                        a.btn.start(href="javascript:") Начать проект