mixin 404()
    .bg-col
        .container-art.d-flex
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
    .content-wrap.content-wrap_inner.page-404
        .page-404__head.glitch(data-text="404") 404
        .page-404__text.ac Вы сбились с правильного пути
        .page-404__back.ac
            a.a(href="#") Вернуться