mixin form()
    .popup-form
        .bg-col
            .container-art.d-flex
                .col-lg-3.bg-col__item
                .col-lg-3.bg-col__item
                .col-lg-3.bg-col__item
                .col-lg-3.bg-col__item
        .container-art.popup-form__wrap
            .popup-form__close 
                <svg width="59" height="58" viewBox="0 0 59 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                <line x1="9.70711" y1="9.29289" x2="49.3051" y2="48.8909" stroke="white" stroke-width="2"/>
                <line x1="9.29289" y1="48.891" x2="48.8909" y2="9.29306" stroke="white" stroke-width="2"/>
                </g>
                <defs>
                <filter id="filter0_d" x="0.585938" y="0.585938" width="57.4263" height="57.0122" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="4"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                </filter>
                </defs>
                </svg>
            .content-wrap
                .head-block Давайте обсудим проект
                .row
                    .col-lg-6
                        .form
                            form(action="", method="post")
                                .form__row
                                    .form__name Ваше имя
                                    .form__input 
                                        input(type="text")
                                .form__row
                                    .form__name Как с вами связаться
                                    .form__input.err 
                                        input(type="text")
                                .form__row.form__row_textarea
                                    .form__name Описание проекта
                                    .form__input
                                        textarea
                                .form__file 
                                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.3274 17.623L7.31093 17.7588C5.42281 17.7801 3.76786 16.266 3.62162 14.3837L3.61587 14.3098C3.54525 13.4008 3.8357 12.5401 4.43361 11.8866C5.03153 11.233 5.86294 10.8675 6.77461 10.8571L20.9259 10.6972C22.2199 10.6825 23.3544 11.7203 23.4545 13.0106L23.4574 13.0474C23.5576 14.3376 22.5864 15.3992 21.2924 15.4138L7.21496 15.573C6.51494 15.5809 5.90124 15.0192 5.84693 14.3216L5.84417 14.2847C5.81802 13.9481 5.92593 13.6291 6.14783 13.3865C6.36983 13.1439 6.67805 13.0081 7.01559 13.0043L18.9757 12.8691C19.2798 12.8656 19.5072 12.6171 19.4836 12.3139C19.4601 12.011 19.1946 11.768 18.8906 11.7714L6.93011 11.9067C6.29861 11.9138 5.72284 12.1669 5.30905 12.6191C4.89526 13.0714 4.69432 13.6674 4.74323 14.2968L4.7461 14.3338C4.84736 15.6372 5.99313 16.6852 7.30023 16.6705L21.3775 16.5114C23.2787 16.4899 24.7055 14.9304 24.5581 13.0349L24.5552 12.9981C24.408 11.1027 22.7416 9.57811 20.8406 9.5996L6.68934 9.75957C5.4836 9.7731 4.38465 10.2561 3.59494 11.1193C2.80514 11.9826 2.42165 13.1199 2.51504 14.322L2.52079 14.396C2.61743 15.6399 3.21249 16.7621 4.09529 17.5697C4.97808 18.3774 6.14862 18.8705 7.3961 18.8563L19.4127 18.7206C19.7167 18.717 19.944 18.4686 19.9205 18.1656C19.8969 17.8624 19.6314 17.6195 19.3274 17.623Z" fill="white"/>
                                    </svg>
                                    span Загрузить файл
                                    input(type="file")
                                .form__btn
                                    input.btn(type="submit" value="Отправить")
                                
                    .col-lg-6
                        .form__info 
                            p Заполняя данную форму вы принимаете условия 
                                a(href="#") cоглашения об использовании
                                br
                                |сайта,в том числе в части обработки и использования персональных данных.
                            p 
                                a(href="#") Политика в отношении обработки персональных данных
