mixin head_inner()
    head
        meta(charset="UTF-8")
        title Artrix
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=10")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel='stylesheet' href='assets/css/normalize.css')
        link(rel='stylesheet' href='assets/css/bootstrap-grid.css')
        link(rel='stylesheet' href='assets/css/jquery.fancybox.min.css')
        link(rel='stylesheet' href='assets/css/owl.carousel.css')
        link(rel='stylesheet' href='assets/css/owl.theme.default.css')
        link(rel='stylesheet' href='assets/css/styles.css')
