mixin scripts()
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/owl.carousel.js")
    script(src="assets/js/jquery.fancybox.min.js")
    script(src="assets/js/scripts.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcRIPr2zAEhn1Apg2LdDItnXQigesvGII")
    
