@import url(fonts.css);
$ff:'Montserrat';
$ff_sub:'Ubuntu';
$ff_logo: 'Tahoma';
$bg:#1A1A1A;
$text:#fff;
$red:#FF1F29;
$red_light:#d8494f;


@mixin transition{
    transition:0.2s ease-in;
}
html{
    min-height: 100%;
}
body{
    font-family:$ff;
    font-weight: 200;
    background-color: $bg;
    color:$text;
    font-size: 18px;
    line-height: 1.3;
   // background-image: url('../images/bg_main.png');
    background-position-x: 50%;
    height: 100%;
    position: relative;
}


.layout{
    height: 100%;
    position: relative;
    &-inner{
        min-height: 100%;
    }
    #fullpage{
        height: 100%;
    }
    .clearfix:after,.clearfix:before{
        display: block;
        clear: both;
        content: '';
    }
    .section{
        width: 100%;
        height: 100%;
    }
    .container-art{
        width: 1620px;
        margin: 0 auto;
        position: relative;
    }
    .content-wrap{
        width: 1358px;
        margin: 0 auto;
        &_inner{
            padding-top: 117px;
        }
    }
    @media(max-width:1680px){
        .container-art{
            width: 100%;
            padding: 0 60px;
        }
        .content-wrap{
            width: 100%;
            padding: 0 161px;
            &_inner{
                padding-top: 117px;
            }
        }
    }
    img{
        max-width: 100%;
    }
    h1{
        font-family:$ff;
        font-size: 124px;
        font-weight: 400;
        margin-bottom: 42px;
    }
    .content-wrap_inner{
        position: relative;
        h1{
            position: absolute;
            right: 0;
            margin-top:61px;
            color: rgba(255, 255, 255, 0.05);
        }
    }
    h2{
        font-family:$ff;
        font-size: 80px;
        font-weight: 400;
    }
    h3{
        font-family:$ff;
        font-size: 58px;
        font-weight: 400;
        margin-top: 142px;
        margin-bottom: 21px;
    }
    h4{
        font-family:$ff;
        font-size: 34px;
        font-weight: 400;
    }
    h5{
        font-family:$ff;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 11px;
    }
    p{  
        font-family:$ff;
        font-weight: 200;
        font-size: 18px;
    }
    li{
        font-weight: 200;
        font-size: 18px;
        font-family: $ff;
    }
    ul{
        line-height: 1.5;
        li{
            list-style: none;
            position: relative;
            &::before{
                display: block;
                content: '';
                width:6px;
                height: 6px;
                border-radius: 50%;
                position: absolute;
                background: $red;
                left: -16px;
                top:9px;
            }
        }
    }
    ol{
        list-style: none;
        counter-reset: num;
        position: relative;
        line-height: 1.5;
        li{
            &:before{
                content: counter(num) '. '; /* Выводим число */
                counter-increment: num;
                color: $red;
                position: absolute;
                left: 15px;
                //top:9px;
            }

        }
    }
    *:focus{
        outline: none;
    }
    a{
        color: $red;
        font-weight: 200;
        &:hover{
            font-weight: 300;
        }
    }
    .red-decor{
        position: relative;
        width: fit-content;
        height: fit-content;
        &:after{
            content: '';
            display: block;
            background: $red;
            width: 46px;
            height: 245px;
            position: absolute;
            left:62px;
            bottom: -145px;
        }
    }
    .red{
        color: $red;
    }
    .m-a-l{
        margin-left: auto;
    }
    .m-a-r{
        margin-right: auto;
    }
    a.more{
        color:rgba(255, 31, 41, 0.51);
        text-decoration: none;
        font-weight: 200;
        position: relative;
        overflow: hidden;
        display: inline-block;
        &:before{
            content:attr(data-hover);
            color:$red;
            position: absolute;
            top:0;
            left:0;
            max-width: 0;
            transition: max-width 0.5s;
            box-sizing: border-box;
            overflow: hidden;
        }
        &:hover:before{
            max-width: 100%;
        }

    }
    a.soc{
        position: relative;
        text-decoration: none;
        font-weight: 200;
        overflow: hidden;
        display: inline-block;
        font-family: $ff_sub;
        color:rgba(255, 255, 255, 0.7);
        &:before{
            content:attr(data-hover);
            color: #fff;
            position: absolute;
            top:0;
            left:0;
            max-width: 0;
            transition: max-width 0.5s;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 200;
        }
        &:hover:before{
            max-width: 100%;
        }

    }
    .a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        color:#fff;
        overflow: visible;
        padding-bottom: 8px;
        font-weight: 400;
        &::before{
            display: none;
        }
        &:after{
            height: 2px;
            background: $red;
            box-shadow: 0px 0px 10px #FF1F29;
            content:'';
            position: absolute;
            top:100%;
            left: 35%;
            right: 35%;
            @include transition();
        }
        &:hover:after{
            left:0;
            right: 0;
        }
        &:hover{
            font-weight: 400;
        }
    }
    .btn{
        position: relative;
        z-index: 1;
        display: inline-block;
        border:2px solid $red;
        box-shadow:  0px 0px 10px #FF1F29;
        background: none;
        overflow: hidden;
        color:#fff;
        font-family: $ff;
        font-weight: 300;
        border-radius: 35.5px;
        font-size: 20px;
        padding: 22px 24px 23px 24px;
        text-decoration: none;
        box-sizing: border-box;
        @include transition();
        cursor: pointer;
        &:hover{
            &:after,
            &:before{
                transform: translate3d(0, 100%, 0);
            }
            &:after{
                transition-delay: 0.175s;
            }
        }
        &_l{
            font-size: 32px;
            border-radius: 73px;
            padding: 22px 32px 23px 32px;
        }
        &_m{
            padding: 19px 44px 19px 44px;
        }
        &:after,
        &:before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 100%;
            left: 0;
            z-index: -1;
            transition: transform 0.3s;
        }
        &:before{
            background: $red_light;
        }
        &:after{
            background: $red;
        }
    }
    .btn-arrow{
        display: inline-block;
        background: $red;
        color:#fff;
        font-size: 14px;
        font-weight: 200;
        padding: 17px 95px;
        span{
            padding-right: 50px;
            background: url('../images/arrow.png') no-repeat 90% 50%;
            @include transition();
        }
        &:hover{
            font-weight: 200;
            span{
                background: url('../images/arrow_hover.png') no-repeat 100% 50%;
            }
        }
    }
    .h100{
        height: 100%;
    }
    .ac{
        text-align: center;
    }
    .ar{
        text-align: right;
    }
    .bg-col{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        &__item{
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            &:first-child{
                border-left: 1px solid rgba(255, 255, 255, 0.05);
            }
        }
        .container-art{
            height: 100%;
        }
    }
    .header{
        padding-top: 89px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .logo{
        text-decoration: none;
        color: #fff;
        font-family: $ff_logo;
        line-height: 28px;
        font-size: 21px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    .burger{
        &__wrap{
            width: 56px;
            position: relative;
            margin: 0 auto;
            cursor: pointer;
            height: 100%;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: $red;
                box-shadow: 0px 0px 8px #FF1F29;
                position: absolute;
                top:17px;
            }
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: $red;
                box-shadow: 0px 0px 8px #FF1F29;
                position: absolute;
                top: 2px;
            }
        }
    }
    .menu{
        position: fixed;
        background: $red;
        width: 100%;
        height: 100vh;
        z-index: 20;
        .menu__item{
            font-size: 40px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.7);
            &:before{
                font-weight: 400!important;
            }
        }
        &__wrap{
            position: relative;
            height: 80vh;
        }
        &__bg{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            background-size: contain;
            width: 100%;
            height:fit-content;
            img{
                width: 100%;
            }
        }
        &__soc{
            a{
                margin-right:70px; 
            }
        }
        &__list{
            height: 100%;
        }
        &__nav{
            width: 100%;
        }
        &__foot{
            margin-top: -60px;
        }
        &__close{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top:89px;
            cursor: pointer;
        }
        &__bottom{
            height: 20vh;
            background-color: #000;
            &-wrap{
                height: 100%;
            }
            @media (max-width:767px){
                display: none;
            }
        }
    }
    .socset{
        transform: rotate(-90deg);
        position: absolute;
        top:157px;
        right: -223px;
        z-index: 100;
        &__item{
            margin-right: 71px;
        }
    }
    .section{
        &__body{
            height: 100%;
            position: relative;
            padding-top: 117px;
            padding-bottom: 140px;
        }
        &__foot{
            margin-top: -140px;
        }
        &__start{
            a{
                float: right;
            }
        }
        &__bg{
            line-height: 382px;
            font-size: 343px;
            letter-spacing: 0.17em;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.02);
            text-transform: uppercase;
            max-width: 899px;
            max-height: 100vh;
            word-wrap: break-word;
            position: absolute;
            top:100px;
            z-index: -1;
            @media (max-width:960px){
                max-width: 100%;
            }
            &:after{
                position: absolute;
                top: 50%;
                left: 85%;
                content: '';
                display: block;
                width: 223px;
                height: 50px; 
                background: rgba(255, 255, 255, 0.02);
                @media (max-width:960px){
                    left: 65%;
                }
                @media (max-width: 767px) {
                    width: 167px;
                    height: 37px;
                }
                @media (max-width: 567px){
                    top: 50%;
                    left: auto;
                    right: 0;
                    width: 187px;
                    height: 42px;
                }
            }
        }
        &__down{
            position: relative;
            margin-top:10px;
            svg{
                cursor: pointer;
            }
        }
        &__info{
            padding-top: 40px;
        }
        &__text{
            padding-top: 150px;
            p{
                max-width: 533px;
            }
        }
        &__frame{
            position: relative;
            &:before{
                width: 383px;
                height: 56px;
                background: $red;
                display: block;
                content: '';
                position: absolute;
                top:29px;
                left: -123px;
            }
        }
        &__nav{
            background: linear-gradient(90deg, #252525 0%, #1A1A1A 83.11%);
            padding: 51px 10px 62px 52px;
            margin-top: -40px;
            margin-left: auto;
            margin-top:-370px;
            ul{
                list-style: none;
                padding-left: 0;
                margin: 0;
                li{
                    margin-bottom: 31px;
                    &:before{
                        display: none;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                a{
                    color:#fff;
                    text-decoration: none;
                    font-family: $ff_sub;
                    font-size: 31px;
                    @include transition();
                    &:hover{
                        color: $red;
                        font-weight: 200;
                    }
                }
                a.active{
                    color: $red;
                }
            }
        }
        &__list{
            list-style: none;
            padding-left: 0;
            li{
                font-size: 27px;
                padding-bottom: 17px;
                &:before{
                    display: none;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
    .slogan{
        //background: url(../images/hart.png) no-repeat 358px 50px;
        padding-right: 25px;
        display: inline-block;
        transform: rotate(-90deg);
        position: absolute;
        left: -212px;
        top: 459px;
        max-width: 481px;
        font-family: 'Ubuntu';
        font-weight: 200;
        font-size: 28px;
    }
    .hello{
        &__text{
            font-size: 47px;
            font-weight: 300;
            max-width: 553px;
            margin-top: 0!important;
        }
        h1{
            margin-left: -5px;
            margin-top: 120px;
            span{
                color: $red;
                margin-left: 25px;
            }
        }
    }
    .sharing{
        display: flex;
        margin-top: 6px;
        &__item{
            margin-right: 7px;
        }
    }
    .head-block{
        color:#fff;
        font-size: 80px;
        font-weight: 400;
        line-height: 85px;
        margin-top: 70px;
        margin-bottom: 32px;
        display: inline-block;
        position: relative;
        &_red{
            color:$red;
            text-decoration: none;
            &:hover{
                font-weight: 400;
            }
        }
        span{
            font-size: 106px;
            color:$red;
            margin-left: 20px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: normal;
            display: inline-block;
        }
        li{
            display: inline-block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 2px solid #FF1F29;
            box-sizing: border-box;
            &:before{
                display: none;
            }
        }
        li.active{
            background: $red;
        }
    }
    .text-block{
        line-height: 44px;
        font-size: 38px;
        font-family: 'Ubuntu';
    }
    .rect-block{
        background: $red;
        width: 382px;
        height: 56px;
    }
    .tel{
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        font-size: 27px;
        &:hover{
            font-weight: 300;
        }
    }
    .contacts{
        &__text{
            font-size: 27px;
            margin: 17px 0;
        }
        &__map{
            margin-top: 28px;
            position: relative;
            &::before{
                content: '';
                background: $red;
                width: 56px;
                height: 302px;
                display: block;
                position: absolute;
                right: 137px;
                z-index: 100;
                top:-194px;
            }
        }
    }
    a.contacts__btn{
        float: none;
        font-size: 32px;
        border-radius: 73px;
    }
    #map{
        height: 266px;
        overflow: hidden;
        width: 100%;
        background: url('../images/map.png') no-repeat 50%;
    }
    .copyright{
        font-size: 13px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .contacts + .section__foot{
        margin-top: -190px;
    }
    .popup-form{
        display: none;
        position: absolute;
        width: 100%;
        width:100vw;
        height: 100%;
        height: 100vh;
        top:0;
        left: 0;
        background-color: #1A1A1A;
        z-index: 200;
        &__wrap{
            height: 100%;
            background-image: url('../images/black_artrix.png');
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 100%;
        }
        &__close{
            top: 72px;
            position: absolute;
            right: 0;
            cursor: pointer;
        }
        .head-block{
            margin-top: 204px;
            max-width: 785px;
        }
    }
    input,textarea{
        background: transparent;
        font-family: $ff;
        font-size: 20px;
        color:#fff;
        font-weight: 200;
        &::placeholder{
            color:rgba(255, 255, 255, 0.6);
        }
    }
    .form{
        margin-top: 55px;
        input[type=text],input[type=mail],input[type=phone],textarea{
            width: 100%;
            border: none;
            height: 100%;
            padding-top: 7px;
            @include transition();
    
        }
        &__input.err{
            &:before{
                content: 'Не заполнено';
                color:$red;
                display: block;
                position: absolute;
                right: 0;
                bottom: 12px;
            }
        }
        textarea{
            padding-top: 20px;
            resize: none;
        }
        &__input{
            height: 100%;
            position: relative;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #fff;
                box-shadow: 0px 0px 10px #FFFFFF;
                position: absolute;
                bottom: 0;
                @include transition();
            }
        }
        &__name{
            color:rgba(255, 255, 255, 0.6);
            font-size: 20px;
            position: absolute;
            left: 0;
            bottom: 12px;
            @include transition();
        }
        &__row.focus{
            .form__name{
                font-size: 12px;
                top:0;
            }
        }
        &__row.focus.form__row_textarea{
            height: 150px;
        }
        &__row{
            position: relative;
            height: 56px;
            margin-bottom: 32px;
        }
        &__btn{
            .btn{
                padding-right: 45px;
                padding-left: 45px;
            }
        }
        &__file{
            float:right;
            position: relative;
            margin-top: 15px;
            font-size: 20px;
            span{
                margin-left: 5px;
            }
            input[type="file"]{
                opacity: 0;
                position: absolute;
                top:0;
                width:100%;
                cursor: pointer;
                left: 0;
                height: 100%;
                &:hover{
                    cursor: pointer;
                }
            }
            &:hover{
                cursor: pointer;
            }
            svg{
                position: relative;
                top:7px;
            }
            
        }
        &__info{
            max-width: 300px;
            margin-left: 168px;
            margin-top: 98px;
           p{
            font-size: 13px;
            line-height: 1.5;
           }
        }
    }
    .direction{
        margin-top: 316px;
        &__foto{
            img{
                max-width: 100%;
            }
        }
        &__items{
            margin-top: 95px;
            ul{
                padding-left: 135px;
                list-style: none;
            }
            li{
                margin-bottom: 23px;
                font-size: 28px;
                &:before{
                    display: none;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .red-decor:after{
            left: auto;
            right: -155px;
            bottom: 54px;
            height: 46px;
            width: 245px;
        }
    }
    .stat{
        margin-top: 191px;
        &__item{
            font-weight: 400;
            color:$red;
            position: relative;
        }
        &__color{            
            font-size:130px;
            letter-spacing: 0.07em;
        }
        &__shadow{
            font-size: 154px;
            letter-spacing: 0.09em;
            position: absolute;
            top:-45px;
            left: -36px;
            color: rgba(255, 255, 255, 0.02);
        }
        &__text{
            font-size: 20px;
            font-weight: 200;
            color: #fff;
            letter-spacing: normal;
            margin-top: -10px;
        }
    }
    .blog{
        
        h3{
            float: right;
        }            
        &__item{
            position: relative;
        }
        &__wrap{
            background: #252525;
            box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);
            padding: 63px 0 85px 138px;
            max-width: 1069px;
        }
        &__date{
            font-size: 13px;
            color:red;
            margin-bottom: 12px;
        }
        &__head{
            max-width: 523px;
            font-weight: 300;
            font-size: 19px;
            margin-bottom: 21px;
            color: #fff;
            text-decoration: none;
            display: block;
            &:hover{
                font-weight: 300;
            }
        }
        &__anouns{
            max-width: 600px;
        }
        &__more{
            font-size: 14px;
            float: right;
            margin-right: 137px;
            text-decoration: none;
            margin-top: -20px;
        }
        &__all{
            position: absolute;
            top:37px;
            right: 0px;
            width: 382px;
            text-align: center;
            text-decoration: none;
        }
    }
    .blog-list{
        &__date{
            font-size: 17px;
            margin-bottom: 17px;
            color: $red;
        }
        &__head{
            font-size: 34px;
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            margin-bottom: 37px;
            display: block;
        }
        &__anouns{
            font-size: 18px;
            line-height: 1.5;
            max-width: 70%;
        }
        &__more{
            margin-left: auto;
            text-decoration: none;
            float: right;
        }
        &__item{
            margin-bottom: 107px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .vacancy{
        &__text{
            p{
                font-family: $ff_sub;
                font-size: 28px;
                line-height: 1.5;
            }
        }
        &__frame{
           position: relative;
        }
        &__all{
            position: absolute;
            text-decoration: none;
            bottom: 48px;
            left: -100px;
        }
    }
    h1 + *{
        margin-top: 140px;
    }
    .footer{
        padding-bottom: 70px;
        .section__foot{
            margin-top: 100px;
        }
    }
    .blog-detail{
        &__wrap{
            margin-right: auto;
            margin-left: auto;
        }
    }
    .page-404{
        min-height: 100vh;
        &__head{
            font-size: 213px;
            font-weight: 400;
            text-align: center;
            margin-top: 100px;
        }
        &__text{
            font-weight: 400;
            font-size: 39px;
            margin-top: 66px;
            margin-bottom: 32px;
        }
        &__back{
            a{
                font-size: 32px;
                font-weight: 400;
                &:hover{
                    font-weight: 400;
                }
            }
        }
    }
   
   
      

    
    @media (max-width:1680px){
        .socset{
            right:-179px;
        } 
        .slogan{
            font-size: 23px;
            left: -171px;
            max-width: 391px;
            top: 380px;
        }
        .popup-form{
            &__close{
                right: 60px;
            }
        }

    }
    @media(max-width:1366px){
        h1{
            font-size: 115px;
        }
        .content-wrap_inner{
            h1{
                margin-top: 18px;
            }
        }
        h2{
            font-size: 65px;
        }
        h3{
            font-size: 50px;
        }
        h4{
            font-size: 30px;
        }
        h5{
            font-size: 20px;
        }
        .header{
            padding-top: 37px;
        }
        .socset{
            right: -151px;
            &__item{
                margin-right: 52px;
            }
        }
        .section{
            &__bg{
                font-size: 306px;
                line-height: 332px;
                top: 20px;
        
            }
            &__body{
                padding-top: 65px;
            }
            &__foot{
                margin-top:-120px;
            }
            &__foto{
                img{
                    width: 440px;
                    max-width: 100%;
                }
                &:before{
                    width: 289px;
                    height: 49px;
                    left: -90px;
                }
            }
            &__text p{
                font-size: 16px;
                line-height: 21px;
                max-width: 455px;
            }
            &__nav{
                ul{
                    a{
                        font-size: 26px;
                    }
                }
            }
        }
        .btn{
            font-size: 18px;
            padding: 18px 21px 19px 21px;
        }
        .slogan{
            top:305px;
        }
        .hello{
            h1{
                margin-bottom: 15px;
                margin-top: 130px;
            }
        }
        .menu{
            .menu__item{
                font-size: 36px;
            }
            &__close{
                top:28px;
            }
        }
        .head-block{
            font-size: 61px;
            line-height: 65px;
            margin-top: 80px;
            margin-bottom: 20px;
            span{
              font-size:73px;
              margin-left: 16px;
            }
            li{
                width: 19px;
                height: 19px;
            }
        }
        .text-block{
            line-height: 34px;
            font-size: 26px;
        }
        .rect-block{
            width: 289px;
            height: 49px;
        }
        body{
            font-size: 16px;
        }
        p{
            font-size: 16px;
        }
        li{
            font-size: 16px;
        }
        .contacts{
            &__text{
                font-size: 19px;
            }
            &__map{
                &::before{
                    width: 49px;
                    height: 289px;
                    top:-179px;
                }
            }
        }
        #map{
            height: 220px;
        }
        a.contacts__btn{
            font-size: 26px;
        }
        .copyright{
            margin: 32px 0;
        }
     .contacts + .section__foot {
            margin-top: -150px;
        }
        .popup-form{
            .head-block{
                margin-top: 155px;
            }
            &__close{
                top:40px;
            }
            &__wrap{
                background-position-x: calc(100% - 60px);
            }
        }
        .form{
            &__row{
                height: 30px;
                margin-bottom: 24px;
                &_textarea{
                    margin-bottom: 68px;
                }
            }
            &__row.focus{
                .form__name{
                    font-size:8px;
                }
            }
            &__input.err{
                &:before{
                    font-size: 16px;
                }
            }
            &__name{
                font-size: 16px;
                bottom: 5px;
            }
            &__file{
                font-size: 16px;
            }
            &__info{
                margin-top: 70px;
            }
            input,textarea{
                font-size: 16px;
            }
        }
        .content-wrap{
            &_inner{
                padding-top: 65px;
            }
        }
        .direction{
            margin-top: 293px;
            &__items{
                margin-top: 35px;
                ul{
                    padding-left: 65px;
                }
                li{
                    font-size: 24px;
                }
            }
        }
        .blog{
            &__wrap{
                max-width: 927px;
                padding: 38px 0 85px 39px;
            }
            &__all{
                width: 289px;
                box-sizing: border-box;
                padding-right: 0;
                padding-left: 0;
            }
            &__anouns{
                font-size: 17px;
            }
        }
        .vacancy{
            &__text{
                p{
                    font-size: 24px;
                }
            }
        }
        .blog-list{
            &__date{
                font-size: 15px;
                margin-bottom: 3px;
            }
            &__head{
                font-size: 30px;
                margin-bottom: 32px;
            }
            &__anouns{
                font-size: 16px;
            }
            &__item{
                margin-bottom: 86px;
            }
        }
        h1 + *{
            margin-top: 90px;
        }
        .blog-detail{
            &__wrap{
                max-width: 820px;
            }
        }
        .page-404{
            &__text{
                font-size:33px;
                margin-top: 60px;
            }
            &__back{
                a{
                    font-size: 25px;
                }
            }
        }
    }
    @media(max-width:1300px){
        .container-art{
            padding: 0 40px;
        }
        .content-wrap{
            padding: 0 60px; 
            &_inner{
                padding-top: 65px;
            }
        }
        h1{
            font-size: 90px;
        }
        h2{
            font-size: 58px;
        }
        h3{
            font-size: 40px;
        }
        h4{
            font-size: 20px;
        }
        h5{
            font-size: 18px;
        }
        p{  
            font-size: 16px;
        }
        li{
            font-size: 16px;
        }
        .hello{
            &__text{
                font-size: 34px;
                max-width: 400px;
            }
        }
        .logo{
            font-size: 19px;
        }
        .burger{
            &__wrap{
                width:48px;
            }
        }
        .socset{
            right: -140px;
            top: 127px;
            &__item{
                a{
                    font-size: 14px;
                }
            }
        } 
        .section{
            &__bg{
                font-size: 274px;
            }
            &__tel{
                a{
                    font-size: 16px;
                }
            }
            &__mail{
                a{
                    font-size: 16px;
                }
            }
        }
        .btn{
            font-size: 16px;
            padding: 17px 20px 17px 20px;
        }
        .menu{
            .menu__item{
                font-size: 28px;
                color:#fff;
            }
            &__close{
                top:28px;
            }
            &__soc{
                a{
                    font-size: 14px;
                    margin-right: 20px;
                }
            }
            &__exit{
                a{
                    font-size: 14px;
                }
            }
        }
        .head-block{
            font-size: 58px;
            line-height: 52px;
            span{
               font-size: 75px;
               margin-left:14px;
            }
            li{
                width: 15px;
                height: 15px;
            }
        }
        .popup-form{
            &__close{
                right: 40px;
            }
        }
        .direction{
            &__items{
                li{
                    font-size: 19px;
                }
            }
        }
    }
    @media(max-width:991px){
        .section{
            &__frame{
                width: 50%;
                margin-left: auto; 
                &:before{
                    width: 209px;
                    height: 49px;
                }
            }
            &__text{
                padding-top: 0;
            }
            &__foto{
                padding-top: 66px;
            }
            &__nav{
                margin-top: 0px;
                background: #252525;
                text-align: center;
                padding: 46px 15px;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    background: $red;
                    width: 49px;
                    height: 209px;
                    position: absolute;
                    top:-104px;
                    right: 80px;
                }
                ul{
                    a{
                        font-size: 25px;
                    }
                }
            }
            &__info{
                padding-top: 0;
            }
            &__list{
                li{
                    font-size: 19px;
                }
            }
            &__col{
                p{
                    max-width: 502px;
                }
            }
            &__bg{
                font-size: 256px;
                line-height: 452px;
            }
        }
        .rect-block{
           display: none;
        }
        .contacts{
            &__map{
                margin-top: 60px;
                &::before{
                    width: 49px;
                    height: 209px;
                    right: 105px;
                    top:-139px;
                }
            }
        }
        .form{
            &__info{
                margin-left: 0;
                max-width: 500px;
            }
            &__input{
                max-width: 500px;
            }
            &__name{
                font-size: 16px;
            }
            &__row{
                height: 28px;
            }
            &__row.focus .form__name{
                font-size: 8px;
            }
            input,textarea{
                font-size: 16px;
            }
            &__file{
                float: none;
                margin-bottom: 60px;
                font-size: 16px;
            }
            
        }
        .popup-form{
            &__close{
                top:36px;
                svg{
                    width: 48px;
                    height: 48px;
                }
            }
            .head-block{
                margin-top: 174px;
            }
            &__wrap{
                background-image: url('../images/black_artrix_rot.png');
                background-size: contain;
                background-position-x: calc(100% - 40px);
            }
        }
        .direction{
            &__foto{
                width: 50%;
                flex: none;
            }
            &__items{
                width: 50%;
                flex: none;
            }
        }
        .stat{
            &__wrap{
                justify-content: space-around!important;
            }
            &__item{
                margin: 0 50px 0;
                &:last-child{
                    margin-top: 50px;
                }
               
            }
        }
        .blog{
            &__item{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
            &__wrap{
                width: 100%;
            }
            &__all{
                position: static;
                margin-left: auto;
                margin-bottom: 27px;
            }
            &__more{
                margin-top: 10px;
            }
        }
        .vacancy{
            &__all{
                left: auto;
                right: 0;
            }
            &__frame{
                text-align: left;
            }
            
        }
    }
    @media(max-height:890px) and (min-width:767px){
        .section{
            &__text{
                width: 50%;
                max-width: 50%;
                flex:0 0 50%;
                padding-top: 100px;
            }
            &__foto{
                width: 50%;
                max-width: 50%;
                flex:0 0 50%;
                padding-top: 0;
            }
            &__frame{
                width: 100%;
            }
        }
    }
    @media(max-width:768px){
        .content-wrap{
            padding: 0 40px;
            &_inner{
                padding-top: 45px;
            }
        }
        .popup-form{
            .content-wrap{
                padding: 0;
            }
        }
        .section{
            &__frame{
                width: 60%;
            }
        }
       
        .menu.open{
            right: 0;
        }
        .contacts{
            &__map{
                margin-top: 60px;
                &::before{
                    width: 49px;
                    height: 209px;
                    right: 105px;
                    top:-139px;
                }
            }
            &__text{
                font-size: 19px;
            }
        }
        a.contacts__btn{
            font-size: 22px;
            padding: 24px;
        }
        #map{
            height: 336px;
        }
        .contacts + .section__foot {
            margin-top: -220px;
        }
        .tel{
            font-size: 19px;
        }
        h3{
            margin-top: 53px;
        }
        
        .section-about{
            &__text{       
                margin-bottom: 48px;
                p{
                    max-width: 502px;
                   }
            }
            .red-decor{
                width: 100%;
            }
            .red-decor:after{
                width: 209px;
                height: 49px;
                left: 0;
                bottom: auto;
                top:42px;
            }
            &__foto{
                img{
                    max-width: 80%;
                }
            }
        }
        .direction{
            margin-top: 99px;
            &__foto{
                order: 1;
                width: 100%;
                img{
                    max-width: 80%;
                }
            }
            &__items{
                text-align: center;
                margin: 0;
                width: 100%;
                ul{
                    margin-top: 0;
                    margin-bottom: 35px;
                    padding-left: 0;
                }
                li{
                    margin-bottom: 19px;
                }
            }
            .red-decor:after{
                left: auto;
                right: 0;
                top:42px;
            }
        }
        .stat{
            margin-top: 94px;
        }
        .blog{
            &__head{
                font-size: 18px;
            }
            &__anouns{
                font-size: 16px;
            }
            &__wrap{
                padding: 68px 27px 54px 27px;
            }
            &__more{
                margin-right: 41px;
                margin-top: 10px;
            }
            &__all{
                width: 328px;
            }
        }
        .vacancy{
            &__all{
                width: 328px;
                padding: 17px 88px;
            }
            &__text{
                p{
                    font-size: 20px;
                }
            }
        }
        .blog-list{
            &__date{
                font-size: 13px;
                margin-bottom: 15px;
            }
            &__head{
                font-size: 20px;
                margin-bottom: 15px;
            }
            &__item{
                margin-bottom: 55px;
            }
            &__more{
                font-size: 14px;
            }
        }
        h1 + *{
            margin-top: 50px;
        }
        .page-404{
            &__head{
                font-size: 189px;
            }
            &__text{
                font-size:24px;
                margin-top: 30px;
            }
            &__back{
                a{
                    font-size: 20px;
                }
            }
        }
    }
    @media(max-width:767px){
       
        .slogan{
            display: none;
        }
        .socset{
            display: none!important;
        }
        .psevdo{
            display: none;
        }
        .burger{
            height: 15px;
            &__wrap{
                margin-right: 0;
                width: 24px;
                &:after{
                    top:10px;
                }
            }
            width: 50%;
            max-width: 50%;
        }
        .logo{
            width: 50%;
            font-size: 13px;
            line-height: 13px;
            max-width: 50%;
        }
        .header{
            padding-top: 30px;
            &__wrap{
                align-items: center;
                flex-wrap: wrap;
            }
        }
       
   
        .section{
            &__tel{
                width: 50%;
                text-align: center;
                a{
                    font-size: 14px;
                }
            }
            &__mail{
                width: 50%;
                a{
                    font-size: 14px;
                }
            }
            &__body{
                padding-bottom: 190px;
                padding-top: 45px;
            }
            &__foot{
                margin-top: -190px;
            }
            &__start{
                width:100%;
                text-align: center;
                margin-top: 35px;
                margin-bottom: 37px;
                .btn{
                    float: none;
                }
            }
            &__bg{
                font-size: 250px;
                line-height: 1.1;
                letter-spacing: 0;
                max-width: 100%;
            }
           
        }
        .hello{
            h1{
                margin-top: 60px;
                margin-bottom: 0;
            }
            &__text{
                font-size: 22px;
            }
        }
        .btn{
            font-size: 14px;
            padding: 15px 16px;
        }
        .menu{
            width:80%;
            height: 100%;
            right: -100%;
            display: block!important;
            @include transition();
            position: fixed;
            &__list{
                display: block!important;
            }
            &__bg{
                height: 100%;
                img{
                    display: none;
                    height: 100%;
                    width: auto;
                    float: right;

                }
            }
            &__imgmob{
                display: block!important;
            }
            &__close{
                left: auto;
                right: 15px;
                top:18px;
                transform: none;
                svg{
                    width: 24px;
                }
            }
            &__exit{
                max-width: 100%;
                flex: 0 0 100%;
                width: 100%;
            }
            .menu__item{
                font-size: 13px;
                line-height: 18px;
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
                &:before{
                    display: none;
                }
            }
            &__nav{
                display: block!important;
                padding-top: 75px;
                padding-bottom: 37px;
            }
            &__list{
                height: auto;
            }
            &__foot{
                margin-top: 0;
                margin-top: 40px;
            }
            &__soc{
                a{
                    font-size: 10px;
                    line-height: 13px;
                    color:#fff;
                }
            }
            &__exit{
                margin-top: 40px;
                a{
                    font-size: 10px;
                    line-height: 13px;
                    color: #fff;
                    float: none;
                }
            }
            &__btn{
                display: block;
                margin-bottom: 38px;
                a{
                    text-decoration: none;
                }
            }
            &__info{
                display: block;
                a{
                    text-decoration: none;
                }
            }
        }
       
   
 
    }
    @media(max-width:560px){

        h1{
            font-size: 59px;
        }
        .content-wrap_inner{
            h1{
                margin-top: 8px;
            }
        }
        h2{
            font-size: 32px;
        }
        h3{
            font-size: 22px;
        }
        h4{
            font-size: 12px;
        }
        h5{
            font-size: 11px;
        }
        .btn_big{

        }
        .container-art{
            padding: 0 16px;
        }
        .content-wrap{
            padding: 0 16px;
            &_inner{
                padding-top: 45px;
                h1{
                    float: none;
                    margin-bottom: -90px;
                    text-align: right;
                }
            }
        }
        .section{
            &__bg{
                font-size: 230px;
                line-height: 1.1;
            }
            &__text{
                p{
                    font-size: 10px;
                    line-height: 13px;
                }
            }
            &__info{
                padding-top: 0px;
                p{
                    max-width: 80%;
                }
            }
            &__frame{
                width:100%;
                &:before{
                    width: 32px;
                    height: 90px;
                    left: auto;
                    right: 17px;
                    top:-61px;
                }
            }
            &__nofoot{
                .section__foot{
                    display: none;
                }
            }
            &__nav{
                padding: 22px 10px;
                ul{
                    a{
                        font-size: 15px;
                    }
                    li{
                        margin-bottom: 10px;
                    }
                }
                &:before{
                    width: 32px;
                    height: 90px;
                    top:-75px;
                    right: 18px;
                }
            }
            &__list{
                margin: 0;
                li{
                    font-size: 13px;
                }
            }
        }
        .head-block{
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 15px;
            margin-top: 35px;
            span {
                font-size: 48px;
                margin-left: 12px;
            }
            li{
                width: 10px;
                height: 10px;
            }
        }
        .text-block{
            line-height: 19px;
            font-size: 15px;
        }
        body{
            font-size: 10px;
        }
        p{
            font-size: 10px;
        }
        li{
            font-size: 10px;
        }
        .tel{
            font-size: 13px;
        }
        .contacts{
            &__text{
                font-size: 13px;
            }
            &__map{
                margin-top: 0;
                &::before{
                    width: 32px;
                    height: 90px;
                    right: 20px;
                    top:-60px;
                }
            }
        }
        a.contacts__btn{
            font-size: 14px;
            padding: 15px 16px;
        }
        #map{
            height: 261px;
        }
        .contacts + .section__foot {
            margin-top: -140px;
        }
        .copyright{
            font-size: 8px;
            margin: 0;
        }
        .popup-form{
            &__close{
                right: 16px;
                top: 27px;
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
            .head-block{
                margin-top: 64px;
            }
            &__wrap{
                background-position-x: calc(100% - 16px);
            }
        }
        .form{
            margin-top: 20px;
            input,textarea{
                font-size: 10px;
            }
            &__row{
                height: 22px;
                margin-bottom: 29px;
                &_textarea{
                    margin-bottom: 0;
                }
            }
            &__input.err{
                &:before{
                    font-size: 10px;
                }
            }
            &__name{
                font-size: 10px;
            }
            &__row.focus{
                .form__name{
                    display: none;
                }
            }
            &__file{
                font-size: 10px;
                margin-bottom: 27px;
            }
            &__info{
                margin-top: 51px;
                p{
                    font-size: 8px;
                }
            }
            &__btn .btn{
                padding-right: 23px;
                padding-left: 23px;
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
        .section-about{
            &__text{
                max-width: 100%;
                margin-bottom: 40px;
            }
            &__foto{
                img{
                    max-width: 100%;
                }
            }
            .red-decor:after{
                width: 30px;
                height: 105px;
                left: 20px;
                bottom: -60px;
                top:auto;
            }
        }
        .direction{
            &__items{
                li{
                    font-size: 15px;
                    margin-bottom: 14px;
                }
            }
            &__foto{
                img{
                    max-width: 100%;
                }
            }
            .red-decor:after{
                left: auto;
                right: 20px;
            }
        }
        
        h3{
            margin-bottom: 15px;
            margin-top: 30px;
        }
        .stat{
            &__color{
                font-size: 100px;
            }
            &__shadow{
                font-size: 120px;
                top: -35px;
                left: -32px;
            }
            &__text{
                font-size: 13px;
            }
            &__item{
                margin-bottom: 25px;
                &:last-child{
                    margin-top: 0;
                }
            }
        }
        .blog{
            &__all{
                width: 100%;
                text-align: right;
                padding-top: 7px;
                padding-bottom: 8px;
                margin-bottom: 11px;
                span{
                    padding-right: 70px;
                    background-position-x: 83%;
                    font-size: 10px;
                }
            }
            &__wrap{
                padding: 26px 12px 27px 7px;
            }
            &__date{
                font-size: 8px;
                margin-bottom: 1px;
            }
            &__head{
                font-size: 11px;
                margin-bottom: 10px;
            }
            &__anouns{
                font-size: 11px;
            }
            &__more{
                font-size: 9px;
                margin-right: 0;
            }
        }
        .vacancy{
            &__all{
                width: 100%;
                text-align: right;
                padding: 7px 0 8px 0;
                margin-bottom: 11px;
                bottom: 104%;
                span{
                    padding-right: 70px;
                    background-position-x: 83%;
                    font-size: 10px;
                }
            }
            &__text{
                p{
                    font-size: 15px;
                }
            }
            &__foto{
                margin-top: 50px;
            }
        }
        .blog-list{
            &__date{
                font-size: 8px;
                margin-bottom: 1px;
            }
            &__head{
                font-size: 12px;
                margin-bottom: 8px;
            }
            &__anouns{
                font-size: 9px;
                max-width: 100%;
            }
            &__item{
                margin-bottom: 33px;
            }
            &__more{
                font-size: 9px;
            }
        }
        h1 + *{
            margin-top: 50px;
        }
        .blog-detail{
            &__wrap{
                padding: 0;
            }
        }
        .page-404{
            &__head{
                font-size: 97px;
            }
            &__text{
                font-size:16px;
                margin-top: 0px;
            }
            &__back{
                a{
                    font-size: 12px;
                }
            }
        }
    }
    @media(max-width:420px){
        .section{
            &__bg{
                font-size: 180px;
                line-height: 1.8;
            }
        }
    }
    @media(max-width:400px){
        .section{
            &__bg{
                font-size: 130px;
                line-height: 1.8;
            }
        }
    }
}